github "Alamofire/Alamofire" ~> 4.4
github "SwiftyJSON/Alamofire-SwiftyJSON" "master"
github "rs/SDWebImage"
github "suzuki-0000/SKPhotoBrowser"
github "getsentry/sentry-cocoa" "3.8.5"
github "evgenyneu/keychain-swift" ~> 10.0
